<% include partials/header %>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">YelpCamp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav> -->

<div class="container">

	<header class="jumbotron mb-auto mt-4">
		<h1>Welcome To YelpCamp!</h1>
		<p>View our hand-picked campgrounds from all over the world</p>
		<p>
			<a class="btn btn-primary btn-large" href="/campgrounds/new"> Add a new campground</a>
		</p>
	</header>

	<div class="row">
		<% campgrounds.forEach(function(campground){ %>
			<div class="col col-lg-3 col-md-4 col-sm-6 col-12 mt-4  text-center">
				<!-- <img class="img-thumbnail" src="<%= campground.image %>"> -->
				<figure class="figure img-thumbnail">
				  <img src="<%= campground.image %>" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
				  <figcaption class="figure-caption mb-2"><strong><%= campground.name %></strong></figcaption>
          <p>
            <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
          </p>
				</figure>	
			</div>
		<% }); %>
	</div>
</div>

<% include partials/footer %>